<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>static/index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Parameter stored in ServletContext, shared by all Servlets -->
  <context-param>
  	<param-name>param1</param-name>
  	<param-value>value1</param-value>
  </context-param>
  
  <servlet>
  	<load-on-startup>0</load-on-startup>
    <servlet-class>com.revature.web.MyFirstServlet</servlet-class>
    <servlet-name>MyFirstServlet</servlet-name>
    
    <!-- Parameter stored in ServletConfig, for only this Servlet -->
    <init-param>
    	<param-name>param2</param-name>
    	<param-value>value2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/first/*</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>Cors</filter-name>
  	<filter-class>com.revature.web.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Cors</filter-name>
  	<url-pattern>/*</url-pattern>
  	<!-- All requests should go through our CORS filter -->
  </filter-mapping>
  
  <!-- We can define custom error webpages -->
  <!-- All we need to do is use the error-page tag to indicate which html file to provide
  		given a specific error code -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/static/404.html</location>
  </error-page>
</web-app>