<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.revature"></context:component-scan>
	<tx:annotation-driven/>

	<bean name="ourDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="YOUR DB URL"/>
		<property name="username" value="YOUR DB USERNAME"/>
		<property name="password" value="YOUR DB PASSWORD"/>
		<property name="driverClassName" value="org.postgresql.Driver"/>
	</bean>
	
	<bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="ourDataSource"/>
		<property name="packagesToScan" value="com.revature"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</prop>
				<prop key="show_sql)">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.default_schema">YOUR SCHEMA</prop>
			</props>
		</property>
	</bean>
	
	<bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="nestedTransactionAllowed" value="true"/>
	</bean>

</beans>
